### **GARGI SHARMA 12403355**
### **CAB 113 Machine Learning"**

In [99]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [100]:
data = pd.read_excel('dataset_EBA.xlsx')

In [101]:
data.head()

,Unnamed: 0,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes,clinical_notes
0,0,2020.0,Female,32.0,Alabama,False,False,False,False,True,False,False,never,27.32,5.0,100.0,0.0,"Overweight, advised dietary and exercise modif..."
1,1,2015.0,Female,29.0,Alabama,False,True,False,False,False,False,False,never,19.95,5.0,90.0,1.0,Healthy BMI range.
2,2,2015.0,Male,18.0,Alabama,False,False,False,False,True,False,False,never,23.76,4.8,160.0,1.0,"Young patient, generally lower risk but needs ..."
3,3,2015.0,Male,41.0,Alabama,False,False,True,False,False,False,False,never,27.32,4.0,159.0,1.0,"Overweight, advised dietary and exercise modif..."
4,4,2016.0,Female,52.0,Alabama,True,False,False,False,False,False,False,never,23.75,6.5,90.0,0.0,"Healthy BMI range. High HbA1c level, indicativ..."

In [102]:
data.dtypes

Unnamed: 0                int64
year                    float64
gender                   object
age                     float64
location                 object
race:AfricanAmerican       bool
race:Asian                 bool
race:Caucasian             bool
race:Hispanic              bool
race:Other                 bool
hypertension               bool
heart_disease              bool
smoking_history          object
bmi                     float64
hbA1c_level             float64
blood_glucose_level     float64
diabetes                float64
clinical_notes           object
dtype: object

In [103]:
data.isnull().sum()

Unnamed: 0                0
year                     20
gender                   39
age                     294
location                360
race:AfricanAmerican      0
race:Asian                0
race:Caucasian            0
race:Hispanic             0
race:Other                0
hypertension              0
heart_disease             0
smoking_history         418
bmi                     418
hbA1c_level             419
blood_glucose_level     418
diabetes                418
clinical_notes          418
dtype: int64

In [104]:
data.dropna(how = 'any',inplace=True)

In [105]:
#for col in data.select_dtypes(include='number').columns:
    #data[col].fillna(data[col].mode()[0], inplace=True)

In [106]:
data.isnull().sum()

Unnamed: 0              0
year                    0
gender                  0
age                     0
location                0
race:AfricanAmerican    0
race:Asian              0
race:Caucasian          0
race:Hispanic           0
race:Other              0
hypertension            0
heart_disease           0
smoking_history         0
bmi                     0
hbA1c_level             0
blood_glucose_level     0
diabetes                0
clinical_notes          0
dtype: int64

In [107]:
data.dtypes

Unnamed: 0                int64
year                    float64
gender                   object
age                     float64
location                 object
race:AfricanAmerican       bool
race:Asian                 bool
race:Caucasian             bool
race:Hispanic              bool
race:Other                 bool
hypertension               bool
heart_disease              bool
smoking_history          object
bmi                     float64
hbA1c_level             float64
blood_glucose_level     float64
diabetes                float64
clinical_notes           object
dtype: object

In [108]:
data['hbA1c_level'] = data['hbA1c_level'].astype(int)

In [109]:
data.dtypes

Unnamed: 0                int64
year                    float64
gender                   object
age                     float64
location                 object
race:AfricanAmerican       bool
race:Asian                 bool
race:Caucasian             bool
race:Hispanic              bool
race:Other                 bool
hypertension               bool
heart_disease              bool
smoking_history          object
bmi                     float64
hbA1c_level               int64
blood_glucose_level     float64
diabetes                float64
clinical_notes           object
dtype: object

In [110]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 99580, dtype: bool

In [111]:
data['smoking_history'].value_counts()

smoking_history
No Info        35668
never          34941
former          9314
current         9254
not current     6417
ever            3986
Name: count, dtype: int64

In [112]:
data['gender'].value_counts()

gender
Female    58315
Male      41247
Other        18
Name: count, dtype: int64

In [113]:
data['race:AfricanAmerican'].value_counts()

race:AfricanAmerican
False    79455
True     20125
Name: count, dtype: int64

In [114]:
data['race:Asian'].value_counts()

race:Asian
False    79649
True     19931
Name: count, dtype: int64

In [115]:
data['race:Caucasian'].value_counts()

race:Caucasian
False    79781
True     19799
Name: count, dtype: int64

In [116]:
data['race:Hispanic'].value_counts()

race:Hispanic
False    79764
True     19816
Name: count, dtype: int64

In [117]:
data['race:Other'].value_counts()

race:Other
False    79671
True     19909
Name: count, dtype: int64

In [118]:
data['hypertension'].value_counts()

hypertension
False    92132
True      7448
Name: count, dtype: int64

In [119]:
data['heart_disease'].value_counts()

heart_disease
False    95656
True      3924
Name: count, dtype: int64

In [120]:
from sklearn.preprocessing import LabelEncoder

In [121]:
label = LabelEncoder()

In [122]:
data['gender'] = label.fit_transform(data['gender'])

In [123]:
data['location'] = label.fit_transform(data['location'])

In [124]:
data['gender'] = label.fit_transform(data['gender'])

In [125]:
data['race:AfricanAmerican'] = label.fit_transform(data['race:AfricanAmerican'])

In [126]:
data['race:Asian'] = label.fit_transform(data['race:Asian'])

In [127]:
data['race:Caucasian'] = label.fit_transform(data['race:Caucasian'])

In [128]:
data['race:Hispanic'] = label.fit_transform(data['race:Hispanic'])

In [129]:
data['race:Other'] = label.fit_transform(data['race:Other'])

In [130]:
data['hypertension'] = label.fit_transform(data['hypertension'])

In [131]:
data['heart_disease'] = label.fit_transform(data['heart_disease'])

In [132]:
data['smoking_history'] = label.fit_transform(data['smoking_history'])

In [133]:
data.head(3)

,Unnamed: 0,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes,clinical_notes
0,0,2020.0,0,32.0,0,0,0,0,0,1,0,0,4,27.32,5,100.0,0.0,"Overweight, advised dietary and exercise modif..."
1,1,2015.0,0,29.0,0,0,1,0,0,0,0,0,4,19.95,5,90.0,1.0,Healthy BMI range.
2,2,2015.0,1,18.0,0,0,0,0,0,1,0,0,4,23.76,4,160.0,1.0,"Young patient, generally lower risk but needs ..."