In [1]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [2]:
data = pd.read_csv('Airbnb_Open_Data.csv')

In [3]:
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
data.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [5]:
data['availability 365'].fillna(data['availability 365'].mean(),inplace=True)

In [6]:
data['availability 365'].isnull().sum()

np.int64(0)

In [7]:
data.isnull().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                       0
house_rules                        52131
license                           102597
dtype: int64

In [8]:
data['calculated host listings count'].fillna(data['calculated host listings count'].mean(),inplace=True)

In [9]:
for col in data.select_dtypes(include = 'number').columns:
    data[col].fillna(data[col].mean(),inplace=True)

In [10]:
data.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

In [11]:
data['lat'].fillna(data['lat'].mean(),inplace=True)

In [12]:
data.select_dtypes(include='object').columns

Index(['NAME', 'host_identity_verified', 'host name', 'neighbourhood group',
       'neighbourhood', 'country', 'country code', 'instant_bookable',
       'cancellation_policy', 'room type', 'price', 'service fee',
       'last review', 'house_rules', 'license'],
      dtype='object')

In [13]:
data['minimum nights'] = data['minimum nights'] * 2

In [14]:
data['lat + long'] = data['lat'] + data['long']

In [15]:
print('number of columns: ',data.shape[1])
print('number of rows: ',data.shape[0])

number of columns:  27
number of rows:  102599

In [16]:
data.duplicated().sum()

np.int64(541)

In [17]:
data.drop_duplicates(inplace=True)

In [18]:
data.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
lat + long                        float64
dtype: object

In [19]:
#data.dropna(how = 'any',inplace=True)

In [20]:
#data = data.dropna(how = 'any')

In [21]:
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,20.0,9.0,10/19/2021,0.210000,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,60.0,45.0,5/21/2022,0.380000,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,-33.23015
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,6.0,0.0,NaN,1.374022,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,-33.13288
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,60.0,270.0,7/5/2019,4.640000,4.0,1.0,322.0,NaN,NaN,-33.27462
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,20.0,9.0,11/19/2018,0.100000,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,-33.14548

In [22]:
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,20.0,9.0,10/19/2021,0.210000,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,60.0,45.0,5/21/2022,0.380000,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,-33.23015
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,6.0,0.0,NaN,1.374022,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,-33.13288
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,60.0,270.0,7/5/2019,4.640000,4.0,1.0,322.0,NaN,NaN,-33.27462
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,20.0,9.0,11/19/2018,0.100000,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,-33.14548

In [23]:
data['neighbourhood group'].value_counts()

neighbourhood group
Manhattan        43557
Brooklyn         41630
Queens           13197
Bronx             2694
Staten Island      949
brookln              1
manhatan             1
Name: count, dtype: int64

In [24]:
data['host_identity_verified'].unique()

array(['unconfirmed', 'verified', nan], dtype=object)

In [25]:
data['minimum nights'] = data['minimum nights'].astype(object)

In [26]:
data.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                     object
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
lat + long                        float64
dtype: object

In [27]:
data['minimum nights'] = data['minimum nights'].astype(int)

In [28]:
data.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                      int64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
lat + long                        float64
dtype: object

In [29]:
data['minimum nights'] = pd.to_datetime(data['minimum nights'])

In [30]:
data.dtypes

id                                         int64
NAME                                      object
host id                                    int64
host_identity_verified                    object
host name                                 object
neighbourhood group                       object
neighbourhood                             object
lat                                      float64
long                                     float64
country                                   object
country code                              object
instant_bookable                          object
cancellation_policy                       object
room type                                 object
Construction year                        float64
price                                     object
service fee                               object
minimum nights                    datetime64[ns]
number of reviews                        float64
last review                               object
reviews per month                        float64
review rate number                       float64
calculated host listings count           float64
availability 365                         float64
house_rules                               object
license                                   object
lat + long                               float64
dtype: object

---

### **Label Encoding**

In [31]:
data.head(2)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,1970-01-01 00:00:00.000000020,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,1970-01-01 00:00:00.000000060,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,-33.23015

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
label = LabelEncoder()

In [34]:
encoder =  label.fit_transform(data.host_identity_verified)

In [35]:
data['host_identity_verified'] = encoder

In [36]:
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,0,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,1970-01-01 00:00:00.000000020,9.0,10/19/2021,0.210000,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488
1,1002102,Skylit Midtown Castle,52335172823,1,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,1970-01-01 00:00:00.000000060,45.0,5/21/2022,0.380000,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,-33.23015
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,2,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,1970-01-01 00:00:00.000000006,0.0,NaN,1.374022,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,-33.13288
3,1002755,NaN,85098326012,0,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,1970-01-01 00:00:00.000000060,270.0,7/5/2019,4.640000,4.0,1.0,322.0,NaN,NaN,-33.27462
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,1,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,1970-01-01 00:00:00.000000020,9.0,11/19/2018,0.100000,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,-33.14548

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
label = LabelEncoder()

In [39]:
data.head(1)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,0,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,1970-01-01 00:00:00.000000020,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488

In [40]:
from sklearn.model_selection import train_test_split

X = data.drop('target_column', axis=1)
Y = data['target_column']

# Train-test split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

KeyError: "['target_column'] not found in axis"

In [ ]:
gargi = label.fit_transform(data['instant_bookable'])

In [ ]:
from sklearn.model_selection import train_test_split

X = data.drop('target_column', axis=1)
Y = data['target_column']

# Train-test split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,0,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,1970-01-01 00:00:00.000000020,9.0,10/19/2021,0.210000,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488
1,1002102,Skylit Midtown Castle,52335172823,1,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,1970-01-01 00:00:00.000000060,45.0,5/21/2022,0.380000,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,-33.23015
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,2,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,1,flexible,Private room,2005.0,$620,$124,1970-01-01 00:00:00.000000006,0.0,NaN,1.374022,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,-33.13288
3,1002755,NaN,85098326012,0,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,1,moderate,Entire home/apt,2005.0,$368,$74,1970-01-01 00:00:00.000000060,270.0,7/5/2019,4.640000,4.0,1.0,322.0,NaN,NaN,-33.27462
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,1,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,$204,$41,1970-01-01 00:00:00.000000020,9.0,11/19/2018,0.100000,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,-33.14548

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
new = LabelEncoder()

In [ ]:
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,0,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,1970-01-01 00:00:00.000000020,9.0,10/19/2021,0.210000,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488
1,1002102,Skylit Midtown Castle,52335172823,1,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,1970-01-01 00:00:00.000000060,45.0,5/21/2022,0.380000,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,-33.23015
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,2,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,1,flexible,Private room,2005.0,$620,$124,1970-01-01 00:00:00.000000006,0.0,NaN,1.374022,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,-33.13288
3,1002755,NaN,85098326012,0,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,1,moderate,Entire home/apt,2005.0,$368,$74,1970-01-01 00:00:00.000000060,270.0,7/5/2019,4.640000,4.0,1.0,322.0,NaN,NaN,-33.27462
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,1,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,$204,$41,1970-01-01 00:00:00.000000020,9.0,11/19/2018,0.100000,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,-33.14548

In [ ]:
data['host_identity_verified'] = new.fit_transform(data['host_identity_verified'])

In [ ]:
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,0,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,1970-01-01 00:00:00.000000020,9.0,10/19/2021,0.210000,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488
1,1002102,Skylit Midtown Castle,52335172823,1,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,1970-01-01 00:00:00.000000060,45.0,5/21/2022,0.380000,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,-33.23015
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,2,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,1,flexible,Private room,2005.0,$620,$124,1970-01-01 00:00:00.000000006,0.0,NaN,1.374022,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,-33.13288
3,1002755,NaN,85098326012,0,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,1,moderate,Entire home/apt,2005.0,$368,$74,1970-01-01 00:00:00.000000060,270.0,7/5/2019,4.640000,4.0,1.0,322.0,NaN,NaN,-33.27462
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,1,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,$204,$41,1970-01-01 00:00:00.000000020,9.0,11/19/2018,0.100000,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,-33.14548

In [ ]:
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license', 'lat + long'],
      dtype='object')

In [ ]:
data.head(2)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001254,Clean & quiet apt home by the park,80014485718,0,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,1970-01-01 00:00:00.000000020,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,-33.32488
1,1002102,Skylit Midtown Castle,52335172823,1,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,1970-01-01 00:00:00.000000060,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,-33.23015

In [ ]:
data['host_identity_verified'].value_counts()

host_identity_verified
0    50944
1    50825
2      289
Name: count, dtype: int64

---

### **Outlier Treatment**

In [ ]:
data.describe()

,id,host id,host_identity_verified,lat,long,instant_bookable,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365,lat + long
count,1.020580e+05,1.020580e+05,102058.000000,102058.000000,102058.000000,102058.000000,102058.000000,102058,102058.000000,102058.000000,102058.000000,102058.000000,102058.000000,102058.000000
mean,2.918438e+07,4.926738e+10,0.503665,40.728097,-73.949652,0.499490,2012.488088,1970-01-01 00:00:00.000000016,27.517887,1.375193,3.278734,7.936936,141.044384,-33.221555
min,1.001254e+06,1.236005e+08,0.000000,40.499790,-74.249840,0.000000,2003.000000,1969-12-31 23:59:59.999997554,0.000000,0.010000,1.000000,1.000000,-10.000000,-33.745280
25%,1.509286e+07,2.459924e+10,0.000000,40.688730,-73.982580,0.000000,2008.000000,1970-01-01 00:00:00.000000004,1.000000,0.280000,2.000000,1.000000,3.000000,-33.267650
50%,2.918438e+07,4.912865e+10,1.000000,40.722290,-73.954440,0.000000,2012.000000,1970-01-01 00:00:00.000000006,7.000000,1.050000,3.000000,1.000000,98.000000,-33.233520
75%,4.327590e+07,7.400619e+10,1.000000,40.762760,-73.932350,1.000000,2017.000000,1970-01-01 00:00:00.000000010,30.000000,1.710000,4.000000,2.000000,268.000000,-33.172320
max,5.736742e+07,9.876313e+10,2.000000,40.916970,-73.705220,2.000000,2022.000000,1970-01-01 00:00:00.000011290,1024.000000,90.000000,5.000000,332.000000,3677.000000,-32.930540
std,1.627173e+07,2.853742e+10,0.505621,0.055850,0.049500,0.502056,5.759789,NaN,49.527280,1.606854,1.283079,32.215888,135.131582,0.077337

In [ ]:
numeric = data.select_dtypes(include='number').columns

for col in numeric:
    q1 = data[col].quantile(0.25)
    q3 = data[col].quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr

    data[col] = data[col].clip(lower=lower,upper=upper)

In [ ]:
data.describe()

,id,host id,host_identity_verified,lat,long,instant_bookable,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365,lat + long
count,1.020580e+05,1.020580e+05,102058.000000,102058.000000,102058.000000,102058.000000,102058.000000,102058,102058.000000,102058.000000,102058.000000,102058.000000,102058.000000,102058.000000
mean,2.918438e+07,4.926738e+10,0.503665,40.728057,-73.952061,0.499490,2012.488088,1970-01-01 00:00:00.000000016,20.062656,1.263526,3.278734,1.710424,141.014876,-33.221326
min,1.001254e+06,1.236005e+08,0.000000,40.577685,-74.057925,0.000000,2003.000000,1969-12-31 23:59:59.999997554,0.000000,0.010000,1.000000,1.000000,-10.000000,-33.410645
25%,1.509286e+07,2.459924e+10,0.000000,40.688730,-73.982580,0.000000,2008.000000,1970-01-01 00:00:00.000000004,1.000000,0.280000,2.000000,1.000000,3.000000,-33.267650
50%,2.918438e+07,4.912865e+10,1.000000,40.722290,-73.954440,0.000000,2012.000000,1970-01-01 00:00:00.000000006,7.000000,1.050000,3.000000,1.000000,98.000000,-33.233520
75%,4.327590e+07,7.400619e+10,1.000000,40.762760,-73.932350,1.000000,2017.000000,1970-01-01 00:00:00.000000010,30.000000,1.710000,4.000000,2.000000,268.000000,-33.172320
max,5.736742e+07,9.876313e+10,2.000000,40.873805,-73.857005,2.000000,2022.000000,1970-01-01 00:00:00.000011290,73.500000,3.855000,5.000000,3.500000,665.500000,-33.029325
std,1.627173e+07,2.853742e+10,0.505621,0.055510,0.039628,0.502056,5.759789,NaN,25.228273,1.141612,1.283079,0.997986,134.687523,0.073141

In [ ]:
"""import dataset --> missing values and duplicates --> encoding --> outlier treatment --> train test split --> standardisation --> model --> evaluation """

'import dataset --> missing values and duplicates --> encoding --> outlier treatment --> train test split --> standardisation --> model --> evaluation '

In [ ]:
numeric_col = data.select_dtypes(include='number').columns

for i in numeric_col:
    q1 = data[i].quantile(0.25)
    q3 = data[i].quantile(0.75)

    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 - 1.5 * iqr
    
    data[i] = data[i].clip(lower=lower,upper=upper)

In [ ]:
num = data.select_dtypes(include='number').columns

for c in num:
    q1 = data[c].quantile(0.25)
    q3  = data[c].quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 - 1.5 * iqr

    data[c] = data[c].clip(lower = lower,upper = upper)

---

### **Train test split**

In [ ]:
X = data.drop('instant_bookable', axis=1)
Y = data['instant_bookable']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2, random_state=42)

In [ ]:
data.shape

(102058, 27)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(102058, 26) (81646, 26) (20412, 26)

In [ ]:
print(Y.shape, Y_train.shape, Y_test.shape)

(102058,) (81646,) (20412,)

In [ ]:
data.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,lat + long
0,1001335.875,Clean & quiet apt home by the park,-1.042414e+08,-0.5,Madaline,Brooklyn,Kensington,40.651715,-74.007695,United States,US,-0.5,strict,Private room,2003.5,$966,$193,1970-01-01 00:00:00.000000020,-13.5,10/19/2021,-0.435,1.0,0.5,-129.5,Clean up and treat the home the way you'd like...,NaN,-33.315315
1,1001335.875,Skylit Midtown Castle,-1.042414e+08,-0.5,Jenna,Manhattan,Midtown,40.651715,-74.007695,United States,US,-0.5,moderate,Entire home/apt,2003.5,$142,$28,1970-01-01 00:00:00.000000060,-13.5,5/21/2022,-0.435,1.0,0.5,-129.5,Pet friendly but please confirm with me if the...,NaN,-33.315315
2,1001335.875,THE VILLAGE OF HARLEM....NEW YORK !,-1.042414e+08,-0.5,Elise,Manhattan,Harlem,40.651715,-74.007695,United States,US,-0.5,flexible,Private room,2003.5,$620,$124,1970-01-01 00:00:00.000000006,-13.5,NaN,-0.435,1.0,0.5,-129.5,"I encourage you to use my kitchen, cooking and...",NaN,-33.315315
3,1001335.875,NaN,-1.042414e+08,-0.5,Garry,Brooklyn,Clinton Hill,40.651715,-74.007695,United States,US,-0.5,moderate,Entire home/apt,2003.5,$368,$74,1970-01-01 00:00:00.000000060,-13.5,7/5/2019,-0.435,1.0,0.5,-129.5,NaN,NaN,-33.315315
4,1001335.875,Entire Apt: Spacious Studio/Loft by central park,-1.042414e+08,-0.5,Lyndon,Manhattan,East Harlem,40.651715,-74.007695,United States,US,-0.5,moderate,Entire home/apt,2003.5,$204,$41,1970-01-01 00:00:00.000000020,-13.5,11/19/2018,-0.435,1.0,0.5,-129.5,"Please no smoking in the house, porch or on th...",NaN,-33.315315

---

### **Data Standardisation**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

ValueError: could not convert string to float: 'Cozy warm one bedroom'

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

ValueError: could not convert string to float: 'Cozy warm one bedroom'

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
stella = StandardScaler()

In [ ]:
numerictrain = X_train.select_dtypes(include='number').columns
numerictest = X_test.select_dtypes(include='number').columns

In [ ]:
X_train = stella.fit_transform(X_train[numerictrain])
X_test = stella.transform(X_test[numerictest])

In [ ]:
print(X_train)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

---

### **Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logic = LogisticRegression()

In [ ]:
logic.fit(X_train,Y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [ ]:
Xtrain_predict = logic.predict(X_train)
Xtest_predict = logic.predict(X_test)

In [ ]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
data['column_name'] = label.fit_transform(data['column_name'])

In [ ]:
from sklearn.model_selection import train_test_split

X = data.drop('target_column', axis=1)
Y = data['target_column']

# Train-test split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
for col in data.columns:
    q1 = data[col].quantile(0.25)
    q3 = data[col].quantile(0.75)
    iqr = q3 - q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr

    data[col] = data[col].clip(lower=lower, upper=upper)

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, Y_train)

Y_pred_train = model.predict(X_train)
Y_pred_test = model.predict(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logic = LogisticRegression()

In [ ]:
logic.fit(X_train,Y_train)

NameError: name 'X_train' is not defined

In [ ]:
logic1 = logic.predict(X_train)
logic2 = logic.predict(X_test)

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
illogical = LogisticRegression()

In [ ]:
illogical.fit(X_train,Y_train)

NameError: name 'X_train' is not defined

In [ ]:
illogical1 = illogical.predict(X_train)
illogical2 = illogical.predict(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model  = LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

NameError: name 'X_train' is not defined

In [ ]:
model1 = model.predict(X_train)
model1 = model.predict(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

NameError: name 'X_train' is not defined

In [ ]:
model1 = model.predict(X_train)
model2 = model.predict(X_test)

In [ ]:
from sklearn.svm import SVC

In [ ]:
model = SVC

In [ ]:
model.fit(X_train,Y_train)

NameError: name 'X_train' is not defined

In [ ]:
model1 = model.predict(X_train)
model2 = model.predict(X_test)

In [ ]:
print("\nClassification Report on Training Data:")
print(classification_report(Y_train, Y_pred_train))
print("------------------------------------------------------")
print("\nClassification Report on Testing Data:")
print(classification_report(Y_test, Y_pred_test))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
tree = DecisionTreeClassifier()

In [ ]:
tree.fit(X_train,Y_train)

NameError: name 'X_train' is not defined

In [ ]:
tree1 = tree.predict(X_train)
tree2 = tree.predict(X_test)

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.metrics import accuracy_score, classification_report

print("Training Accuracy: ",accuracy_score(Y_train, tree1) * 100)
print("Testing Accuracy: ",accuracy_score(Y_test, tree2) * 100)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print("Training Accuracy: ", accuracy_score(Y_train,tree1)*100)
print("Testing Accuracy: ", accuracy_score(Y_test,tree2)*100)

NameError: name 'Y_train' is not defined

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print("Training Acc: ", accuracy_score(Y_train,tree1)*100)
print("Testing Acc: ",accuracy_score(Y_test,tree2)*100)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print('Train acc: ',accuracy_score(Y_train,tree1)*100)
print('Test acc: ', accuracy_score(Y_test, tree2)*100)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print("Train class: ")
print( classification_report(Y_train,tree1)*100)
print("Test class: ")
print( classification_report(Y_test,tree1)*100)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print('train report: ')
print(classification_report(Y_train,tree1))
print('test report: ')
print(classification_report(Y_test,tree2))

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error

print(f"R² Score (Train): {r2_score(Y_train, train_predictions):.4f}")
print(f"R² Score (Test): {r2_score(Y_test, test_predictions):.4f}")

print(f"MSE (Train): {mean_squared_error(Y_train, train_predictions):.4f}")
print(f"MSE (Test): {mean_squared_error(Y_test, test_predictions):.4f}")