###**list creation**

In [1]:
fruits = ['apple','banana','mango']
print(fruits[1])

banana

###**Dictionary**###

In [3]:
student = {'name':'Gargi','marks' : 90}
print(student['marks'])

90

In [4]:
# loop
for fruit in fruits:
    print(fruit)

apple
banana
mango

In [5]:
# function
def greet(name):
    return f"Hello, {name}!"

print(greet("Gargi"))

Hello, Gargi!

In [6]:
import pandas as pd

In [8]:
df = pd.read_csv("2016-2022.csv")

In [11]:
df.head()
df.tail()

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,sub_event_type,actor1,...,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
107685,5494159,356,IND9,9.0,01 January 2016,2016,1,Protests,Peaceful protest,Protesters (India),...,Ludhiana,30.9120,75.8537,1,Chandigarh Tribune,Subnational,"On 1 Jan, members of the Punjab Government Con...",0,1618556592,IND
107686,5603486,356,IND51303,51303.0,01 January 2016,2016,1,Battles,Armed clash,NDFB: National Democratic Front of Boroland,...,Kokrajhar,26.4016,90.2665,1,South Asia Terrorism Portal,Other,"On January 1, one surrendered NDFB cadre was k...",1,1563366777,IND
107687,6072644,356,IND49232,49232.0,01 January 2016,2016,1,Protests,Peaceful protest,Protesters (India),...,Pulwama,33.8741,74.9001,2,"Jammu Kashmir Coalition of Civil Society, Srin...",Local partner-Other,"On January 1, a protest took place in Pulwama ...",0,1571164565,IND
107688,6257234,356,IND10,10.0,01 January 2016,2016,1,Battles,Armed clash,CPI (Maoist): Communist Party of India (Maoist),...,Narayanpur,19.7179,81.2443,2,Chandigarh Tribune,National,"On 1 Jan, two Naxals were gunned down and thre...",2,1572403706,IND
107689,8543376,356,IND49233,49233.0,01 January 2016,2016,1,Protests,Peaceful protest,Protesters (India),...,Srinagar,34.0857,74.8056,1,"Jammu Kashmir Coalition of Civil Society, Srin...",Local partner-Other,"On January 1, a protest took place in Srinagar...",0,1631660908,IND

In [14]:
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107690 entries, 0 to 107689
Data columns (total 31 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   data_id           107690 non-null  int64
 1   iso               107690 non-null  int64
 2   event_id_cnty     107690 non-null  object
 3   event_id_no_cnty  107690 non-null  float64
 4   event_date        107690 non-null  object
 5   year              107690 non-null  int64
 6   time_precision    107690 non-null  int64
 7   event_type        107690 non-null  object
 8   sub_event_type    107690 non-null  object
 9   actor1            107690 non-null  object
 10  assoc_actor_1     76917 non-null   object
 11  inter1            107690 non-null  int64
 12  actor2            31375 non-null   object
 13  assoc_actor_2     11511 non-null   object
 14  inter2            107690 non-null  int64
 15  interaction       107690 non-null  int64
 16  region            107690 non-null  object
 17  country           107690 non-null  object
 18  admin1            107690 non-null  object
 19  admin2            107672 non-null  object
 20  admin3            105451 non-null  object
 21  location          107690 non-null  object
 22  latitude          107690 non-null  float64
 23  longitude         107690 non-null  float64
 24  geo_precision     107690 non-null  int64
 25  source            107690 non-null  object
 26  source_scale      107690 non-null  object
 27  notes             107690 non-null  object
 28  fatalities        107690 non-null  int64
 29  timestamp         107690 non-null  int64
 30  iso3              107690 non-null  object
dtypes: float64(3), int64(10), object(18)
memory usage: 25.5+ MB

data_id               int64
iso                   int64
event_id_cnty        object
event_id_no_cnty    float64
event_date           object
year                  int64
time_precision        int64
event_type           object
sub_event_type       object
actor1               object
assoc_actor_1        object
inter1                int64
actor2               object
assoc_actor_2        object
inter2                int64
interaction           int64
region               object
country              object
admin1               object
admin2               object
admin3               object
location             object
latitude            float64
longitude           float64
geo_precision         int64
source               object
source_scale         object
notes                object
fatalities            int64
timestamp             int64
iso3                 object
dtype: object

In [16]:
print(df['event_type'])

0            Riots
1         Protests
2         Protests
3         Protests
4            Riots
            ...
107685    Protests
107686     Battles
107687    Protests
107688     Battles
107689    Protests
Name: event_type, Length: 107690, dtype: object

In [17]:
print(df[['event_type','fatalities']])

       event_type  fatalities
0           Riots           0
1        Protests           0
2        Protests           0
3        Protests           0
4           Riots           1
...           ...         ...
107685   Protests           0
107686    Battles           1
107687   Protests           0
107688    Battles           2
107689   Protests           0

[107690 rows x 2 columns]

In [ ]:
# convert date to datetime 
df['event_date'] = pd.to_datetime(df['event_date'])

In [ ]:
#how many unique states are there using 
print(df['admin1'].nunique())

36

In [24]:
data = {
    'event_type' : ['Protests', 'Riots','Protests','Riots','Battles'],
    'state' : ['Delhi','UP','Karnatka','MP','Assam'],
    'fatalities' : [0,3,0,2,5],
    'date' : ['2022-01-10','2022-02-15','2022-03-20','2022-04-25','2022-05-30']
}

df = pd.DataFrame(data)
df['event_date'] = pd.to_datetime(df['date'])
print(df)

  event_type     state  fatalities        date event_date
0   Protests     Delhi           0  2022-01-10 2022-01-10
1      Riots        UP           3  2022-02-15 2022-02-15
2   Protests  Karnatka           0  2022-03-20 2022-03-20
3      Riots        MP           2  2022-04-25 2022-04-25
4    Battles     Assam           5  2022-05-30 2022-05-30

In [25]:
#check the num of total 
df.shape[0]

5

In [26]:
# unique event types 
df['event_type'].nunique()

3

In [27]:
df['fatalities'].mean()

np.float64(2.0)

In [28]:
df.loc[df['fatalities'].idxmax()]

event_type                Battles
state                       Assam
fatalities                      5
date                   2022-05-30
event_date    2022-05-30 00:00:00
Name: 4, dtype: object

In [29]:
import numpy as np

In [30]:
list1 = [1,2,3,4]
array1 = np.array([1,2,3,4])

print(type(list1))
print(type(array1))

<class 'list'>
<class 'numpy.ndarray'>

In [31]:
arr = np.array([[1,2,3], [4,5,6]])

print(arr.shape)
print(arr.ndim)
print(arr.size)
print(arr.dtype)

(2, 3)
2
6
int64

In [33]:
arr = np.array([[10, 20, 30], [40, 50, 60]])

print(arr[0, 1])    
print(arr[:, 1])    
print(arr[1, :])

20
[20 50]
[40 50 60]